[build]
  publish = "."
  functions = "netlify/functions"

# 1) API må alltid gå rett til functions. Ingen Role-regler her.
[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
  force = true

# 2) Admin og login er vanlige HTML-sider
[[redirects]]
  from = "/admin"
  to = "/admin/index.html"
  status = 200
  
[[redirects]]
  from = "/admin/*.pdf"
  to = "/admin/:splat"
  status = 200

[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200

[[redirects]]
  from = "/login"
  to = "/login/index.html"
  status = 200

[[redirects]]
  from = "/login/*"
  to = "/login/index.html"
  status = 200
